<div class="row mb-4">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= category.name %></li>
            </ol>
        </nav>
        <h1 class="display-4"><%= category.name %></h1>
        <p class="lead"><%= category.description %></p>
    </div>
</div>

<div class="row">
    <% if (products && products.length > 0) { %>
        <% products.forEach(product => { %>
            <%- include('../products/_product_card', { product }) %>
        <% }); %>
    <% } else { %>
        <div class="col">
            <div class="alert alert-info">
                No products available in this category.
            </div>
        </div>
    <% } %>
</div>